<html>
<head><title>Genetic - Tac - Toe</title></head>

<body>
<FONT COLOR="lime">
<body bgcolor="black">
<pre>
  ▄████ ▓█████  ███▄    █ ▓█████▄▄▄█████▓ ██▓ ▄████▄        ▄▄▄█████▓ ▄▄▄       ▄████▄        ▄▄▄█████▓ ▒█████  ▓█████ 
 ██▒ ▀█▒▓█   ▀  ██ ▀█   █ ▓█   ▀▓  ██▒ ▓▒▓██▒▒██▀ ▀█        ▓  ██▒ ▓▒▒████▄    ▒██▀ ▀█        ▓  ██▒ ▓▒▒██▒  ██▒▓█   ▀ 
▒██░▄▄▄░▒███   ▓██  ▀█ ██▒▒███  ▒ ▓██░ ▒░▒██▒▒▓█    ▄       ▒ ▓██░ ▒░▒██  ▀█▄  ▒▓█    ▄       ▒ ▓██░ ▒░▒██░  ██▒▒███   
░▓█  ██▓▒▓█  ▄ ▓██▒  ▐▌██▒▒▓█  ▄░ ▓██▓ ░ ░██░▒▓▓▄ ▄██▒      ░ ▓██▓ ░ ░██▄▄▄▄██ ▒▓▓▄ ▄██▒      ░ ▓██▓ ░ ▒██   ██░▒▓█  ▄ 
░▒▓███▀▒░▒████▒▒██░   ▓██░░▒████▒ ▒██▒ ░ ░██░▒ ▓███▀ ░        ▒██▒ ░  ▓█   ▓██▒▒ ▓███▀ ░        ▒██▒ ░ ░ ████▓▒░░▒████▒
 ░▒   ▒ ░░ ▒░ ░░ ▒░   ▒ ▒ ░░ ▒░ ░ ▒ ░░   ░▓  ░ ░▒ ▒  ░        ▒ ░░    ▒▒   ▓▒█░░ ░▒ ▒  ░        ▒ ░░   ░ ▒░▒░▒░ ░░ ▒░ ░
  ░   ░  ░ ░  ░░ ░░   ░ ▒░ ░ ░  ░   ░     ▒ ░  ░  ▒             ░      ▒   ▒▒ ░  ░  ▒             ░      ░ ▒ ▒░  ░ ░  ░
░ ░   ░    ░      ░   ░ ░    ░    ░       ▒ ░░                ░        ░   ▒   ░                ░      ░ ░ ░ ▒     ░   
      ░    ░  ░         ░    ░  ░         ░  ░ ░                           ░  ░░ ░                         ░ ░     ░  ░
                                             ░                                 ░                                       
</pre>

<pre>
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |
             _____________|____________|_______________
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |
             _____________|____________|_______________
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |
                          |            |



</pre>

<!-- Top Row -->
<div style="position:absolute; top:180px; left:130px;">
<pre>
{{o}}
</pre>
</div>

<div style="position:absolute; top:180px; left:235px;">
<pre>
{{x}}
</pre>
</div>

<div style="position:absolute; top:180px; left:340px;">
<pre>
{{x}}
</pre>
</div>


<!-- Middle Row  -->
<div style="position:absolute; top:290px; left:130px;">
<pre>
{{x}}
</pre>
</div>

<div style="position:absolute; top:290px; left:235px;">
<pre>
{{o}}
</pre>
</div>

<div style="position:absolute; top:290px; left:340px;">
<pre>
{{x}}
</pre>
</div>



<!-- Bottem Row  -->
<div style="position:absolute; top:390px; left:130px;">
<pre>
{{x}}
</pre>
</div>


<div style="position:absolute; top:390px; left:235px;">
<pre>
{{x}}
</pre>
</div>

<div style="position:absolute; top:390px; left:340px;">
<pre>
{{o}}
</pre>
</div>



</body>
</html>
